<html>
<head>
    <meta charset="utf-8">
    <title>Access Denied</title></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>
    body{
        background-color:#EDEEEE;
        color:#909294;
        -webkit-user-select: none;
        text-align: center;
    }

    div{
        margin-top:60px;
    }

    .icon i {
        font-size:230px;
        color:#373737;
    }

    span {
        font-size: 170px;
    }


</style>
<body>

<div>
    <span class="glyphicon glyphicon-remove-circle"></span>
    <h1>Access denied</h1>
    <h2>Please <a href="http://tsn-sevas.rhcloud.com/#/garant/login">log-in</a>.</h2>

</div>
</body>
</html>