<div style="margin-top:60px;">

    <h1>Уставные документы</h1>
    <br/>

    <h4>
        <a href="#">Свидетельство о постановке на учет российской организации в налоговом органе по месту ее нахождения</a>
    </h4>

    <h4>
        <a href="#">Свидетельство о государственной регистрации юридического лица</a>
    </h4>

    <h4>
        <a href="#">Уведомление о регистрации юридического лица в территориальном органе Пенсионного фонда РФ</a>
    </h4>

    <h4>
        <a href="#">Извещение о регистрации в качестве страхователя</a>
    </h4>

    <h4>
        <a href="#">Договор управления многоквартирным домом</a>
    </h4>


    <br>
    <h2>Добавленные документы</h2>

    <span ng-repeat="document in documents">
        <h4>
            <a ng-click="downloadDocument(document)">{{document}}</a>
        </h4>
    </span>


</div>