<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Редактирование пользователя</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="enrolleeLastNameInput">Фамилия</label>
            <div class="col-md-5">
                <input id="enrolleeLastNameInput" name="enrolleeLastNameInput" ng-model="user.lastName" type="text"  class="form-control input-md" required="">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="enrolleeFirstNameInput">Имя</label>
            <div class="col-md-5">
                <input id="enrolleeFirstNameInput" name="enrolleeFirstNameInput"  ng-model="user.firstName" type="text"  class="form-control input-md" required="">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="enrolleeMiddleNameInput">Отчество</label>
            <div class="col-md-5">
                <input id="enrolleeMiddleNameInput" name="enrolleeMiddleNameInput" ng-model="user.middleName" type="text"  class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="userApartmentNumber">№ квартиры</label>
            <div class="col-md-5">
                <input id="userApartmentNumber" name="userApartmentNumber" ng-model="user.apartmentNumber" type="text"  class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="userLogin">Login</label>
            <div class="col-md-5">
                <input id="userLogin" name="userLogin" ng-model="user.login" type="text"  class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="userPassword">Пароль</label>
            <div class="col-md-5">
                <input id="userPassword" name="userPassword" ng-model="user.password" type="text"class="form-control input-md">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="df"></label>
            <div class="col-md-4">
                <button id="df" name="df" class="btn btn-success" ng-click="test()">тест</button>
            </div>
        </div>

        <!-- Save new user button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="enrolleeRegisterButton"></label>
            <div class="col-md-4">
                <button id="enrolleeRegisterButton" name="enrolleeRegisterButton" class="btn btn-success" ng-click="updateUser()">Сохранить</button>
            </div>
        </div>

        <!-- Cancel new user creation button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="enrolleeDeleteButton"></label>
            <div class="col-md-4">

                <a ui-sref=".users">
                    <button id="enrolleeDeleteButton" name="enrolleeDeleteButton" class="btn btn-success"  ng-click="deleteUser()">Отменить</button>
                </a>

            </div>
        </div>

    </fieldset>
</form>
